
body, html {
  background-color: black;
  width: 1000px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.bg-text {
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.inner-table-right {
  text-align: left;
  padding-left: 14px;
  padding-right: 14px;
  display: inline-block;
}

.inner-table-left {
  text-align: center;
  padding-right: 14px;
  padding-left: 14px;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bar a:link, .bar a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.bar a:hover, .bar a:active {
  background-color: red;
}

.bar {
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
}

.icon {
    height: 7px;
    width: 5px;
}
